.button {
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-background-color: darkcyan;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 120;
    -fx-font-size: 14;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: darkcyan;
    -fx-font-weight: bold;
}

/*Üldine taust ja akna suurus*/
.root {
    -fx-background-color: darkcyan;
    -fx-text-fill: white;
    -fx-pref-width: 600;
    -fx-pref-height: 680;
}

.Hbox {
    -fx-padding: 10, 0, 10, 0;
    -fx-spacing: 15;
    -fx-alignment: center;
}

.Vbox {
    -fx-padding: 5,0,5,0;
    -fx-alignment: center;
    -fx-background-color: cadetblue;
}

.vastused {
    -fx-spacing: 10;
    -fx-padding: 20;
}

/*Vastuste radiobuttonsite kujundus*/
.radio-button {
    -fx-text-fill: white;
    -fx-mark-color: darkcyan;
    -fx-font-size: 16;
}

.radio-button:hover{
    -fx-font-weight: bold;
}

.radio-button:selected {
    -fx-font-weight: bold;
}

.radio-correct {
    -fx-mark-color: #207130;
    -fx-text-fill:  #207130;
}

.radio-incorrect {
    -fx-mark-color: #b61413;
    -fx-text-fill: #b61413;
}

/*Sissejuhatus ja küsimused*/
.label{
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-padding: 20,0,0,0;
}

/*Viimase vaate labelid ja pildid*/
.kokkuvote {
    -fx-font-weight: bold;
    -fx-alignment: center;
}

